*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

:root {
    --primary: #1e90ff;
    --secondary: #12515f;
    --gray: #658292;
    --liteGray: #E3E3E3;
    --white:#ffffff;
  }

body{
    margin: 0;
    height: 100%;
    font-family: 'Lato', sans-serif;
}

header{
    padding: 15px 0;
    background-color: var(--white);
}

.header-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
}

.logo-content img{
    width: 43px;
    height: 43px;

}

.logo-text{
    display: block;
    font: normal bold 20px/25px Montserrat;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0px;
    margin-left: 5px;
    color: var(--primary);
    text-transform: capitalize;
}

.logo-book{
    color: var(--secondary);
}

/* header ended here */

/* UC2 */
.header-button{
    display: flex;
    flex-direction: row;
}
.add-button {
    font: normal normal normal 22px/29px lato;
    font-size: 16px;
    letter-spacing: 0px;
    color: #fff;
    opacity: 1;
    background: var(--primary) 0% 0% no-repeat padding-box;
    border: none;
    border-radius: 5px;
    padding: 0px 15px;
    margin-left: 1rem;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.searchBtn{
    background-color: #fff;
    font: normal normal normal 22px/29px lato;
    opacity: 1;
    border: none;
    border-radius: 50px;
    padding: 5px 10px;
    outline: none;
    cursor: pointer;
    display: flex;
}

.main-content {
    display: flex;
    flex-direction: column;
    background-color: #f7f7f7;
    padding: 30px 0 10px;
    box-sizing: border-box;
}

.header-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 25px;
}

.person-detail-text {
    font: normal normal bold 24px/25px lato;
    letter-spacing: 0px;
    color: #42515f;
    opacity: 1;
}

.person-count {
    background-color: var(--primary);
    color: #ffffff;
    border-radius: 30%;
    padding: 2px 2px 0px 2px;
    margin-left: 10px;
    font-size: 16px;
    width: 26px;
    text-align: center;
    display: inline-block;
}

/* UC3 */

.table-main {
    width: 80%;
    margin: 0 auto;
    overflow: auto;
}

.table {
    width: 80%;
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 0 15px;
    min-width: 800px;
}

th {
    text-align: left;
    font: normal normal medium 18px/24px lato;
    letter-spacing: 0px;
    color: var(--gray);
    text-transform: capitalize;
    opacity: 1;
    border: 0px solid #dddddd;
    padding: 2px 8px;
}

tr:not(:first-child) {
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #e3e3e3;
    border-radius: 3px;
}

td {
    font: normal normal nornal 14px/21px lato;
    letter-spacing: 0px;
    color: #3d3d3d;
    opacity: 1;
    padding: 10px 8px;
}

td:first-child {
    display: flex;
    align-items: center;
}